# =============== #
# Unity generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Uncomment if using Unity 2020+
UserSettings/

# Visual Studio
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS-specific
.DS_Store
Thumbs.db

# Crash and debug logs
sysinfo.txt
*.stacktrace

# Packages
Packages/manifest.json
Packages/packages-lock.json
